cypress
docs
public
src
node_modules
.dockerignore
.editorconfig
.eslintignore
.gitattributes
.gitignore
.prettierrc
.env
.env.*
Dockerfile
LICENSE
package.json
pnpm-lock.yaml
README.md
.idea
tsconfig.*
