@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.dark {
    body {
      background-color: var(--el-bg-color);
    }
  }

  #nprogress {
    .bar {
      z-index: 9999999;
    }
  }

  &.rt-suc {
    #nprogress {
      .bar {
        background-color: var(--el-color-success);
      }
    }
  }

  &.rt-err {
    #nprogress {
      .bar {
        background-color: var(--el-color-danger);
      }
    }
  }
}
