@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/** reset element ui *-size and font-family **/
:root {
  --el-font-size-extra-large: 1.4285rem;
  --el-font-size-large: 1.2857rem;
  --el-font-size-medium: 1.1429rem;
  --el-font-size-base: 1rem;
  --el-font-size-small: 0.9285rem;
  --el-font-size-extra-small: 0.8571rem;
  --el-component-size-large: 2.8571rem;
  --el-component-size: 2.2857rem;
  --el-component-size-small: 1.7142rem;

  --el-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Helvetica Neue, Noto Sans, Noto Sans CJK SC, Microsoft Yahei, Arial, Hiragino Sans GB, sans-serif;

  --az-card-head-height: 1.5rem;
  --az-card-foot-height: 1.5rem;
}

div.el-form-item {
  --font-size: 1rem;

  .el-form-item--large {
    --font-size: 1.1rem;
  }

  .el-form-item--small {
    --font-size: .9rem;
  }
}

span.el-tag {
  --el-tag-font-size: .85rem;
}

/** end rest element ui *-size*/

html, :host {
  line-height: 1.15;
  font-family: var(--el-font-family), sans-serif;
  font-size: 14px;

  &.dark {
    body {
      background-color: var(--el-bg-color);
    }
  }

  #nprogress {
    .bar {
      z-index: 9999999;
    }
  }

  &.rt-suc {
    #nprogress {
      .bar {
        background-color: var(--el-color-success);
      }
    }
  }

  &.rt-err {
    #nprogress {
      .bar {
        background-color: var(--el-color-danger);
      }
    }
  }
}

.el-card {
  &.az-body-full {
    --az-card-header-height: 0px;
    --az-card-footer-height: 0px;

    &.az-has-header {
      --az-card-header-height: calc(var(--az-card-head-height) + 1px + calc(var(--el-card-padding) - 2px) * 2)
    }

    &.az-has-footer {
      --az-card-footer-height: calc(var(--az-card-foot-height) + 1px + calc(var(--el-card-padding) - 2px) * 2)
    }

    .el-card__body {
      height: calc(100% - var(--az-card-header-height) - var(--az-card-footer-height));

      .el-scrollbar {
        height: 100%;
      }
    }

    .el-card__header {
      height: var(--az-card-header-height)
    }

    .el-card__footer {
      height: var(--az-card-footer-height);
    }
  }
}

@media screen and (width >= 1920px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width>= 2560px) {
  html {
    font-size: 17px;
  }
}