$--colors: (
  // 'primary': ('base': #a89eff)
);

$--bg-colors: (
  // '': #cccccc,
  // 'page': #eeeeee,
  // 'overlay': #cecece
);

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--colors,
  $bg-color: $--bg-colors
);
